@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --primary-color: linear-gradient(90.59deg, #ffe4a9, #ffaf00);
    --primary-bg: #CBAF66;
    --text-color: RGB(3, 21, 33);
    --sub-text-color: RGB(107, 107, 132);
    --text-grey:#666666;
    --bg-color: #F7F7F7;
    --heading-color: #313131;
    --bg-grey-color: #fafafa;
    --bg-grey:#EFEFEF;
    --bg-box-color: #1d1d1d;
}

.dark {
    --bg-color: #000000;
    --bg-grey-color: #0e0e0e;
    --bg-box-color: #000000;
    --bg-grey:#0E0E0E;
    --text-color: #ffffff;
    --sub-text-color: #cfcfcf;
    --heading-color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    scroll-behavior: smooth;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: Manrope;
}
/* 
ul {
    list-style: none;
} */

a {
    text-decoration: none;

}
p{
    font-size: 16px;
    font-weight: 400;
    color: RGB(49, 49, 49);
}
/* img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
} */
.hero-section {
    width: 97%;
    overflow: hidden;
    margin-top: 6.5em;
    border-radius: 0.5em;
    max-width: 1300px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity here */
}
.navbar-toggler{
    padding: 0.3em;
}

@media screen and (max-width: 768px) {
    .hero-section{
        height: 50px;
        margin-top: 5.5em;
        border-radius: 0;
      height: 400px !important;
    }
    
    .navbar-nav{
        gap: 0.5em !important;
    }
   
}

.navbar-toggler-icon{
    color: #ffff !important;
}
.text-color {
    color: #fff;
}

button {
    background: none;
    outline: none;
    background: linear-gradient(180deg, #e7b74c, #c89b37);
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    white-space: nowrap;
    transition: 0.2s ease-in-out;

}
svg{
    transition: 0.2s ease-in-out;
}
.hero-section button:hover svg{
    transform: translateX(5px);
}
@media screen and (max-width: 768px) {
    button{
        font-size: 14px;
    }
}
.navbar{
    padding: 1em;
}
.nav-item {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
}
 .nav-link:hover{
    color:var(--primary-bg) ;
}
.active-nav{
    border-bottom: 2px solid var(--primary-bg);
}
@media screen and (max-width: 768px) {
    .active-nav{
        border: none;
        color: var(--primary-bg);
    } 
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding:0;
}
.primary-color-bg {
    background: linear-gradient(90.59deg, #ffe4a9, #ffaf00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* tab section */
section {
    width: 100%;
    margin: auto;
    padding: 2em;
    max-width: 1300px;
    

}
.section-wrapper{
   background-color: var(--bg-color); 
}
.top-section
{
    padding-top: 100px;
}

.custom-container {

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2em;
}

.tab-items p {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--sub-text-color);
}

.active-btn-tab {
    border-bottom: 2px solid var(--primary-bg);
}

.active-image {
    background-image: url('assets/bgtax.png');
    background-size: cover;
}

.active-image img {
    max-width: 48%;
}

.common-text {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 34px;
    font-weight: 600;
    color: var(--heading-color);
}

@media screen and (max-width: 768px) {
   
    h2 {
        font-size: 38px;
    }

    .tab-items p {
        font-size: 24px;
    }

    .active-image img {
        max-width: 80%;
    }
    .navbar{
        padding: 0.5em;
    }
}

@media screen and (max-width:480px) {
    .hero-section h2{
        font-size: 32px;
    }
    h2 {
        font-size: 26px;
    }

    .tab-items {
        gap: 1em;
    }

    .tab-items p {
        font-size: 17px;
    }

    .active-image img {
        max-width: 100%;
    }

    p {
        font-size: 16px !important;
    }
}

/* why-choose */
.question {
    border-bottom: 1px solid var(--bg-box-color);
    padding: 0.5em 0em;
}

.question:last-child {
    border-bottom: none;
}

.question span {
    font-size: 20px;
    background: linear-gradient(180deg, #e7b74c, #ab7a10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.question p {
    font-size: 20px;
    font-weight: 500;
}
.accordion-button{
    font-family: Manrope;
    background: #F7F7F7;
    padding: 2em 0;
    font-weight: 600;
    font-size: 15px;
    color: var(--text-grey);
}
.accordion-collapse{
    background: #F7F7F7;;
}
.accordion-button:not(.collapsed){
    background-color: #F7F7F7;
}
@media screen and (max-width:1200px) {
    .question-container {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .question-container img {
        max-width: 100%;
        max-height: 350px;
    }
}

.review {
    margin-left: 1.5em;
    padding: 3.5em;
    border-radius: 2em;
}

.review-content .title-r {
    font-size: 40px;
    font-weight: 500;
    margin-right: 0.5em;
}

@media screen and (max-width: 920px) {
    .r-content1 {
        justify-content: center !important;
        margin-top: 2em;
    }

    .review-content {
        flex-direction: column-reverse;
    }

    .review {
        padding: 1.2em;

    }

    .review h3 {
        font-size: 18px !important;
    }
}
@media screen and (max-width: 768px) {
    .common-text{
        font-size: 16px;
    }
    .arrow-content{
        gap: 0em !important;
    }
    .arrow1,.arrow2{
        width: 40px;
    }
}
.footer-head{
    padding: 2em;
}
footer {
    width: 100%;
    color: #ffff;
    background: var(--bg-box-color);
    padding-top: 4em;
    padding: 2em;
   
 
}

.icon {
    width: 45px;
    height: 34px;
    position: relative;
    border-radius: 8px;
    background-color: #d9d9d9;
    z-index: 1;
    letter-spacing: -0.04em;
    font-weight: 800;
    font-size: 28px;
    color: var(--bg-box-color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.icon:hover{
    background: var(--primary-bg);
}
.office{
    font-size: 14px;
    font-weight: 800;
    color: RGB(200, 200, 200);
}
.city{
    font-size: 18px;
    font-weight: 700;
}
.address{
    font-size: 14px;
    color: RGB(200, 200, 200);
}
svg{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .footer-right {
        justify-content: flex-start !important;
    }
    .review-content .title-r {
        font-size: 32px;
    }
    .footer-head{
        justify-content: flex-start !important;
    }
}


/* service page */
.service_detail h3{
    font-weight: 600;
    font-size: 36px;
}
.service_detail a{
    color: var(--text-grey);
    text-transform:uppercase;
    font-weight: 500;
    cursor: pointer;
}
.bg-grey{
    background: var(--bg-grey);
    border-radius: 1em;
}
.cards{
    width: 320px;
    height: 400px;
    background: #ffffff;
    padding: 2em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    
}
.cards:hover{
    scale: 1.05;
    cursor: pointer;
}
.cards h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
/* new card */

  
  .contact-cards{
    width: 260px;
    height: 250px;
    background: #ffffff;
    padding: 2em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    
}
.contact-cards p{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.5em;
}
.contact-cards:hover{
    scale: 1.05;
    cursor: pointer;
}
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    overflow: hidden;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    /* background-color: #ffff; */
    overflow: hidden;
    position: relative;
    width: 260px;
    height: 400px;
  
   
  }
  .service-cards{
    width: 320px;

  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover p, .ag-courses-item_link:hover,
  .ag-courses-item_link:hover h3 {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    color: var(--text-grey);
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
  }

  
  
  
  
 

.cards p{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-grey);
    margin-bottom: 0.3em;
}
.middle-about{
    background-image: url('assets/about.png');
    background-size: cover;
    height: 80%;
}
@media screen and (max-width:768px) {
    .middle-about{
        height: 50%;
    }
    
}
.hero-section .swiper-slide{
    background: transparent !important;
}

.active-service{
border-bottom: 3px solid var(--primary-bg);
width: fit-content;

}
.footer-end{
    width: 100%;
    padding: 1em;
    background-color: var(--primary-bg);
}
.swiper-pagination {
    top: 580PX !important; /* Adjust this value to position the pagination bullets as desired */
  }
.swiper-pagination-bullet{
 
background-color: var(--primary-bg) !important;
}
@media screen and (max-width:768px) {
    .swiper-pagination {
        top: 550PX !important; /* Adjust this value to position the pagination bullets as desired */
      }
}
@media (max-width: 767px) {
    .swiper-container-hero {
      padding-left: 20px; /* Adjust the left padding as needed */
      padding-right: 20px; /* Adjust the right padding as needed */
    }
  }

  /* .blur-container{
    position: relative;
  }
  .blur-box{
    position: absolute;
width: 200px;
height: 200px;
background-color: var(--primary-bg);
filter: blur(200px);
z-index: 1;

} */
a{
    text-decoration: none;
    color: var(--text-grey);
}
.blog-cards{
overflow: hidden;
padding: 2em;
}
.blog-card{
    width: 320px;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;

}
.blog-card:hover{
    scale: 1.02;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
.blog-bottom{
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.blog-card .time-blog p{
    font-size: 14px;
    color: var(--text-grey);
}
.blog-bottom .link-blog{
    justify-content: start;
    align-items: flex-start;
    color: var(--heading-color);
    font-size: 19px;
    font-weight: 700;
    transition: 0.2s ease-in-out;
}
.blog-bottom .link-blog:hover{
    color: var(--primary-bg)
}
.blog-bottom a{
    font-size: 15px;
}
.blog-card img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.blog-card p{
    margin-bottom: 0;
}

.blog-cards .swiper-slide{
    background-color: var(--bg-grey);
    text-align: start;
}
.img-service img{
    max-width: 100% !important;
}
.img-service img{

    border-radius: 0.5em;
}
.service-desc .service-desc-title{
font-weight: 600;
font-size: 17px;
}
.service-desc ol li{
    font-size: 16px;
}
.contact-title{
    font-size: 20px;
    color: var(--text-grey);
    margin-bottom: 1.5em;
}
