@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: linear-gradient(90.59deg, #ffe4a9, #ffaf00);
    --primary-bg: #CBAF66;
    --text-color: RGB(3, 21, 33);
    --sub-text-color: RGB(107, 107, 132);
    --text-grey:#666666;
    --bg-color: #FFFFFF;
    --heading-color: #313131;
    --bg-grey-color: #fafafa;
    --bg-box-color: #1d1d1d;
}

.dark {
    --bg-color: #000000;
    --bg-grey-color: #0e0e0e;
    --bg-box-color: #000000;
    --text-color: #ffffff;
    --sub-text-color: #cfcfcf;
    --heading-color: #fff;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    scroll-behavior: smooth;
    color: var(--text-color);
    background-color: #F7F7F7;
    font-family: Manrope;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}
p{
    font-size: 16px;
    font-weight: 400;
    color: RGB(49, 49, 49);
}
/* img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
} */
.hero-section {
    width: 97%;
    height: 60%;
    margin: auto;
    overflow: hidden;
    margin-top: 6.5em;
    border-radius: 2em;
   
    max-width: 1300px;
   
}

@media screen and (max-width: 768px) {
    .hero-section{
        height: 60%;
    }
    .navbar-nav{
        gap: 0.5em !important;
    }
}


.text-color {
    color: #fff;
}

button {
    background: none;
    outline: none;
    background: linear-gradient(180deg, #e7b74c, #c89b37);
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: 500;
    color: #ffffff;
    font-size: 17px;
    white-space: nowrap;
    transition: 0.2s ease-in-out;

}
svg{
    transition: 0.2s ease-in-out;

}
button:hover svg{
    transform: translateX(5px);
}
@media screen and (max-width: 768px) {
    button{
        font-size: 14px;
    }
}
.navbar{
    padding: 1em;
}
.nav-item {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
}
 .nav-link:hover{
    color:var(--primary-bg) ;
}
.active-nav{
    border-bottom: 2px solid var(--primary-bg);
}
@media screen and (max-width: 768px) {
    .active-nav{
        border: none;
        color: var(--primary-bg);
    } 
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding:0;
}
.primary-color-bg {
    background: linear-gradient(90.59deg, #ffe4a9, #ffaf00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* tab section */
section {
    width: 100%;
    margin: auto;
    padding: 2em;
    max-width: 1300px;
    margin-top: 3em;
}

.custom-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2em;
}

.tab-items p {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: var(--sub-text-color);
}

.active-btn-tab {
    border-bottom: 4px solid var(--primary-bg);
}

.active-image {
    background-image: url('assets/bgtax.png');
    background-size: cover;
}

.active-image img {
    max-width: 48%;
}

.common-text {
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-size: 34px;
    font-weight: 600;
    color: var(--heading-color);
}

@media screen and (max-width: 768px) {
   
    h2 {
        font-size: 38px;
    }

    .tab-items p {
        font-size: 24px;
    }

    .active-image img {
        max-width: 80%;
    }
}

@media screen and (max-width:480px) {
    .hero-section h2{
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }

    .tab-items {
        gap: 1em;
    }

    .tab-items p {
        font-size: 17px;
    }

    .active-image img {
        max-width: 100%;
    }

    p {
        font-size: 16px !important;
    }
}

/* why-choose */
.question {
    border-bottom: 1px solid var(--bg-box-color);
    padding: 0.5em 0em;
}

.question:last-child {
    border-bottom: none;
}

.question span {
    font-size: 20px;
    background: linear-gradient(180deg, #e7b74c, #ab7a10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.question p {
    font-size: 20px;
    font-weight: 500;
}
.accordion-button{
    font-family: Manrope;
    background: #F7F7F7;
    padding: 2em 0;
    font-weight: 600;
    font-size: 15px;
    color: var(--text-grey);
}
.accordion-collapse{
    background: #F7F7F7;;
}
.accordion-button:not(.collapsed){
    background-color: #F7F7F7;
}
@media screen and (max-width:1200px) {
    .question-container {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .question-container img {
        max-width: 100%;
        max-height: 350px;
    }
}

.review {
    margin-left: 1.5em;
    padding: 3.5em;
    background-color: #EFEFEF;
    border-radius: 2em;
}

.review-content .title-r {
    font-size: 40px;
    font-weight: 500;
    margin-right: 0.5em;
}

@media screen and (max-width: 920px) {
    .r-content1 {
        justify-content: center !important;
        margin-top: 2em;
    }

    .review-content {
        flex-direction: column-reverse;
    }

    .review {
        padding: 1.5em;

    }

    .review h3 {
        font-size: 18px !important;
    }
}

footer {
    width: 100%;
    color: #ffff;
    background: var(--bg-box-color);
    padding: 2em;
    margin-top: 2em;
 
}

.icon {
    width: 45px;
    height: 34px;
    position: relative;
    border-radius: 8px;
    background-color: #d9d9d9;
    z-index: 1;
    letter-spacing: -0.04em;
    font-weight: 800;
    font-size: 28px;
    color: var(--bg-box-color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.icon:hover{
    background: var(--primary-bg);
}
.office{
    font-size: 14px;
    font-weight: 800;
    color: RGB(200, 200, 200);
}
.city{
    font-size: 18px;
    font-weight: 700;
}
.address{
    font-size: 14px;
    color: RGB(200, 200, 200);
}
svg{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .footer-right {
        justify-content: flex-start !important;
    }
    .review-content .title-r {
        font-size: 32px;
    }
    .footer-head{
        justify-content: flex-start !important;
    }
}


/* service page */
.service_detail H3{
    font-weight: 600;
}
.service_detail p{
    color: var(--text-grey);
    text-transform:uppercase;
    font-weight: 500;
}
.bg-grey{
    background: #EFEFEF;
    border-radius: 1em;
}
.cards-service{
    width: 320px;
    height: 400px;
    background: #ffffff;
    padding: 2em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.cards-service h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.cards-service p{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-grey);
    margin-bottom: 0.3em;
}
.middle-about{
    background-image: url('assets/about.png');
    background-size: cover;
    height: 80%;
}
@media screen and (max-width:768px) {
    .middle-about{
        height: 50%;
    }
    
}
.hero-section .swiper-slide{
    background: transparent !important;
}